body {
    background-color: #FFFFFF;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
    color: #6F6F74;
}
p {
    font-family: 'Roboto', sans-serif;
    color: #818188;
}

li {
    cursor: pointer;
}

label {
	color: #818188;
}

hr {
    width: 100%;
}

.required:after {
    content: " *";
    color: #FD8897;

}

#app-navbar{

}

.date {
    margin-bottom: 10px;
}

.app-btn h1 {
    font-size: 12px;
}

.app-btn-name {
    text-align: left;
    color: #18bc9c;
}

.app-btn-time {
    color: #8E8E8E;
    font-size: 12px;
    float: right;
}

.app-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.app-sidebar {
    display: flex;
    flex-direction: column;
    width: 280px;
    padding: 20px;
    border-right: thin solid #DCDCDC;
}

.app-searchbar {
    margin-bottom: 20px;
}

#app-sort {
    margin-top: 15px;
    
}

#app-sort:hover {
    color: #A2A2A2;
}

#app-sort:visited {
    color: #18bc9c;
}

#app-sort:active {
    color: #A2A2A2;
}

.app-btn-info {
    color: #8E8E8E;
    text-align: left;
    font-size: 10px;
}

#app-navbar {
	height: 20px;
}

#placeholder-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 150px;
}

#appointment-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 60%;
    margin-left: 50px;
    margin-top: 20px;
}

.app-detail-input {
    margin-left: 10px;
    margin-right: 20px;
}

.active {
    background-color: #F0F0F0;
}

#details {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

#details-forms {
	display: flex;
    justify-content: left;
    flex-direction: column;
}

.details-col {
	margin-bottom: 30px;
	width: 210px;
}

.col-form-label {
	margin-top: 10px;
}

#spacer {
	width: 80px;
}

#dem-section {
	border-bottom: thin solid #DCDCDC;
	display: flex;
    flex-direction: row;
}

#contact-info-section {
	display: flex;
    flex-direction: row;
    margin-bottom: 100px;
}

#dob {
	display: flex;
	flex-direction: row;
}


#yr {
	width: 75px;
	margin-right: 5px;
}

#month {
	width: 65px;
	margin-right: 5px;
}

#day {
	width: 60px;
}

#note-section {
	display: flex;
	flex-direction: column;
	align-items: left;
	margin-left: 150px;
	width: 300px;
	min-width: 185px;

}

#profile-pic {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

#add-note {
	margin-bottom: 15px;
}

#add-contact {
	border-top: thin solid #DCDCDC;
}

#add-contact-label {
	margin-top: 15px;
}

#contact-add-icon {
	float: right;
}

#add-prof-contact {
	border-top: thin solid #DCDCDC;
}

.datepicker-orient-bottom {
    margin-top: 50px;
}
